* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  /* border: 2px solid #34991585; */
}

img {
 max-height: 100%;
 max-width: 100%;
}

main {
  height: 100%;
}

main .hero {
  display: grid;
  place-items: center;
  width: 100% ;
  max-height: 100%;
  padding: 60px;
}

.hero::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('../images/bg_mobile.png'); 
  background-size: cover;
  background-position: center;
  opacity: 0.40; /*Value from 0.0 to 1.0*/
}




.content {
  margin: 40px 30px;
  text-align: center;
  display: grid;
  gap: 2rem;
}

.content h1{
  font-weight: 600;
  font-size: 2.5rem;
  color: #2d2d2d;
}

.content p {
  font-weight: 400;
  font-size: 1rem;
  color: #1f1249;
}

.btn {
  display: inline-block;
  background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);;
  color:rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 18px;
  border: none;
}


@media screen and (min-width: 1024px) {
  main {
    display: grid;
    place-items: center;
  }
  main .hero{
    grid-template-columns: 1fr 1fr;
    background-color: rgba(245, 247, 255, 0.85);
    max-width: 90%;
    max-height: 95%;
    padding: 60px 20px;
  }
  .content {
    gap : 1rem
  }
  .hero h1 {
    font-size: 3.5rem;
    }
  .hero p {
    font-size: 1.5rem;
  }
}